# Copia este archivo como .env y rellena los valores reales
# NUNCA subas el archivo .env al repositorio

# Google Cloud
GOOGLE_CLOUD_PROJECT=topd-lab
GOOGLE_APPLICATION_CREDENTIALS=./dbt-sa-key.json
BQ_LOCATION=EU

# BigQuery datasets
BQ_DATASET_RAW=raw_mediconnect
BQ_DATASET_STAGING=dbt_staging
BQ_DATASET_INTERMEDIATE=dbt_intermediate
BQ_DATASET_MARTS=dbt_marts
